* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  color: #C6C6C6;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #272622;
}

img {
  max-width: 100%;
  display: block;
}

h3 {
  font-size: 64px;
}

.num, .num2 {
  font-size: clamp(50px, 10vw, 190px);
  font-weight: 900;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

/* MENU BURGER */

.burger {
  width: 40px;
  height: 40px;
  z-index: 99999;
  cursor: pointer;
  position: fixed;
  top: 13px;
  left: 30px;
}

.burger span {
  background-color: white;
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
}
.burger span::before,
.burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  transition: transform 0.5s ease-in-out;
}

.burger span::before {
  transform: translateY(-10px);
}

.burger span::after {
  transform: translateY(10px);
}

.burger.isOpen span {
  background-color: transparent;
}
.burger.isOpen span::before {
  transform: translateY(0px) rotateZ(45deg);
  background-color: black;
}
.burger.isOpen span::after {
  transform: translateY(0px) rotateZ(-45deg);
  background-color: black;
}

.menu_burger {
  display: none;
}

.menu_burger.isOpen {
  position: fixed;
  z-index: 999;
  height: 8vh;
  width: 100%;
  background-color: #9D9989;
  display: flex;
}

.list-link {
  color: black;
  font-weight: 300;
  font-size: clamp(10px, 2vw, 22px);
  text-transform: uppercase;
  margin-left: 30px;
  position: relative;
  padding: 3px 0;
}

.list-link::before,.list-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #221F15;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.list-link::after {
  bottom: 0;
}

.list-link::before {
  top: 0;
}

.list-link:hover::before, .list-link:hover::after {
  transform: scaleX(1);
}


/* SECTION 1 */

.sec1 {
  position: relative;
  text-align: center;
  background: black;
  width: 100vw;
}

.sec1 img {
  width: 100%;
}

.sec1 h1 {
  position: absolute;
  top: 0;
  z-index: 11;
  padding-top: 50px;
  font-size: clamp(38px, 5vw, 130px);
  font-weight: 300;
  color: white;
}

.sec1 h1 span {
  color: white;
  font-weight: 900;
}

.sec1 h2 {
  position: absolute;
  bottom: 0;
  z-index: 11;
  padding-bottom: 50px;
  font-size: clamp(12px, 2vw, 26px);
  color: white;
  font-style: italic;
}

/* SECTION 2 */

.sec2 {
  position: relative;
  background: black;
  justify-content: flex-start;
}

.sec2 .citation-block {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 350px;
  width: 700px;
  background: #101010;
}

.sec2 .citation-block .guille {
  font-size: 254px;
  position: absolute;
  left: 30px;
  top: -100px;
  color: white;
}

.sec2 .citation-block .citation {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 30px;
  width: 80%;
  color: white;
}

.sec2 .citation-desc {
  width: 80%;
  color: white;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 700;
}

.sec2 .citation-desc span {
  color: white;
  margin-left: 10px;
}

/* SECTION 3 */

.sec3 {
  position: relative;
  overflow-x: hidden;
}

.sec3 img {
  width: 100%;
}

.titre-section3 {
  line-height: 120px;
  transform: rotate(-45deg);
}

.sec3 .carre {
  position: absolute;
  top: 118px;
  right: 0;
  flex-direction: column;
  background-color: #221F15;
  width: 570px;
  height: 570px;
  transform: rotate(45deg);
}

.sec3 .para-sec3 {
  position: absolute;
  top: 15%;
  width: 40%;
  margin-left: 140px;
  font-size: 22px;
}

.sec3 .responsive-frame {
  display: none;
}

.sec3 .iframe iframe{
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  box-shadow: #101010 5px 5px 15px;
}

/* SECTION 4 */

.sec4 {
  overflow: hidden;
  gap: 350px;
}

.sec4 .carre-box {
  position: relative;
  width: 100%;
  margin-bottom: 350px;
}

.sec4 .carre {
  width: 100%;
  transform: rotate(-45deg);
}

.sec4 .carre::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.sec4 .droit {
  background: #221F15;
  text-align: center;
  align-self: center;
}

.sec4 .gauche {
  background: black;
}

.sec4 .num {
  position: absolute;
  top: 50px;
  transform: rotate(45deg);
}

.sec4 .carre p {
  position: absolute;
  bottom: 0;
}

.sec4 h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  background: #272622;
}

.image img {
  width: 100%;
}

.image {
  position: relative;
  width: 70%;
  margin-bottom: 200px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__description {
  width: 40%;
}

/* SECTION 5 */

/* SECTION 6 */

/* MEDIA QUERIES */

@media (max-width: 1250px) {
  .sec2 .citation-block {
    left: 0;
    height: 200px;
    width: 100%;
    opacity: 0.9;
    background: #101010;
  }
  .sec2 img {
    width: 100%;
  }
  .titre-section3 {
    line-height: 70px;
  }
  .sec3 .carre {
    width: 320px;
    height: 320px;
    top: 65px;
  }
  h3{
    font-size: 48px;
  }
  .sec3 .num {
    font-size: 100px;
  }
  iframe {
    width: 580px;
    height: 350px;
  }
}

@media (max-width: 1140px) {
  .sec2 .citation-block {
    height: 150px;
  }
  .sec2 .citation-block .citation {
    font-size: 22px;
  }
  .sec3 .para-sec3 {
    font-size: 20px;
  }
  .image {
    margin-bottom: 80px;
  }
  .image__description {
    width: 70%;
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .sec3 .frame {
    display: none;
  }
  .sec3 .responsive-frame {
    display: block;
    width: 100%;
  }
}