* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

/* MENU BURGER */

/* SECTION 1 */

/* SECTION 2 */

/* SECTION 3 */

/* SECTION 4 */

/* SECTION 5 */

/* SECTION 6 */